button {
  height: 1.8em;
  width: 7em;
  font-size: .8em;
  font-family: $primary-font-family;
  background: $button-background;
  color: $white;
  border-radius: 10px;
  &:hover {
    background: $button-hover;
  }
}

.dest-dropdown-menu {
  font-family: $primary-font-family;
  font-size: .6em;
}

button:disabled {
  background: $button-background;
}

form {
  @include user-trips-layout;
  height: 70%;
  justify-content: space-around;
}

input {
  @include primary-border();
  font-size: 1em;
  font-family: $primary-font-family;
}

label {
  font-size: .8em;
}
